/*style.css*/
body{
background-color:#a9aecc;
font-family: "courier new", helvetica, sans-serif;
   font-size: 19px;
   text-align: right; 
}
h1{
background-color:white;
 border-style: solid;
 font-family:courier, helvetica, sans-serif;
    border-width: 0.3em;
    border-color: white;
color:#a9aecc;
 font-size: 2.5em;
 margin:0;
    padding: 40px;
	text-align: left;
}
div{
margin: 20px;
    padding: 10px;
	text-align: left;
	}

.titles{
color:white;
font-size:1.5em;
}



.seasons{
font-size: 1.5em;
margin:20px;
color:white;
}

